@import url(./palette.css);

html {
  font-family: "Montserrat", Arial, sans-serif;
}

body { 
  background-color: var(--primary-color);
}

.footer { 
  background-color: var(--secondary-color);
  opacity: 0.5;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: opacity 0.3s ease;
}

.footer:hover{
  opacity: 1;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-item {
  color: var(--text-color);
  font-size:0.75rem;

}
li > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footer-icon {
  width: 2rem;
  height: 2rem;
}

li {
  min-width:5rem;
}

h2 {
  text-transform: uppercase;
  font-weight: 550;
}

.burger-icon  {
  width: 3rem;
  }

.btn {
  border-radius: 8px; 
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  border-top: 3px solid var(--accent2-color)
}

.btn:hover {
  transform: scale(1.05);
  background-color: var(--accent2-color);

}

.back-arrow {
  width: 2.5rem;
  color: var(--accent-color);
  background-color: var(--secondary-color);
  opacity:0.5;
  border-radius: 50%;
  margin: 1rem;
}

.header-text {
  color: var(--accent2-color);
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin: 0.5rem;

}

.main {
  background-color: var(--secondary-color);
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon {
  width: 2rem;
}

.input {
  font-family: "Montserrat", Arial, sans-serif;
  border-radius: 5px;
  border: none;
  background-color: #D9D9D9;
  color: #A7A7A7;
  width: 65%;
  height: 2rem;
  text-align: center;
  letter-spacing: 0.15rem;
  margin: 0.5rem;
}

.top-nav {
  justify-content: space-around;
  text-transform: uppercase;
  padding: 1rem 0;
  width: 100%;
}

.topnav-item {
  color: var(--accent3-color);
}

.topnav-item:hover {
  border-bottom: 1px solid var(--accent-color);
}

.box {
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;
}

.topnav-container {
  border-radius: 20px 20px 0 0;
}

.menu-section {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0
}

.menu-item-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.25);
  cursor: pointer;
}

.item-container {
  background-color: var(--container-color);
}

.description {
  font-size: 0.75rem;
  line-height: 125%;
}

.item-price {
  font-size: 1.5rem;
  color: var(--accent2-color);
  font-weight: 750;
}

.shopping-cart-add {
  width: 2rem;
  cursor: pointer;
}

.item-name {
  font-weight: bold;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  padding: 0.75rem 0;
}
